/* Fonts */
@font-face {
  font-family: 'Netflix Sans';
  src: url('./assets/fonts/netflix-san/NetflixSans-Medium.eot');
  src: url('./assets/fonts/netflix-san/NetflixSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/netflix-san/NetflixSans-Medium.woff2') format('woff2'),
      url('./assets/fonts/netflix-san/NetflixSans-Medium.woff') format('woff'),
      url('./assets/fonts/netflix-san/NetflixSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans Icon';
  src: url('./assets/fonts/netflix-san/NetflixSans-Icon.eot');
  src: url('./assets/fonts/netflix-san/NetflixSans-Icon.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/netflix-san/NetflixSans-Icon.woff2') format('woff2'),
      url('./assets/fonts/netflix-san/NetflixSans-Icon.woff') format('woff'),
      url('./assets/fonts/netflix-san/NetflixSans-Icon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('./assets/fonts/netflix-san/NetflixSans-Light.eot');
  src: url('./assets/fonts/netflix-san/NetflixSans-Light.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/netflix-san/NetflixSans-Light.woff2') format('woff2'),
      url('./assets/fonts/netflix-san/NetflixSans-Light.woff') format('woff'),
      url('./assets/fonts/netflix-san/NetflixSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('./assets/fonts/netflix-san/NetflixSans-Black.eot');
  src: url('./assets/fonts/netflix-san/NetflixSans-Black.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/netflix-san/NetflixSans-Black.woff2') format('woff2'),
      url('./assets/fonts/netflix-san/NetflixSans-Black.woff') format('woff'),
      url('./assets/fonts/netflix-san/NetflixSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('./assets/fonts/netflix-san/NetflixSans-Bold.eot');
  src: url('./assets/fonts/netflix-san/NetflixSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/netflix-san/NetflixSans-Bold.woff2') format('woff2'),
      url('./assets/fonts/netflix-san/NetflixSans-Bold.woff') format('woff'),
      url('./assets/fonts/netflix-san/NetflixSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('./assets/fonts/netflix-san/NetflixSans-Thin.eot');
  src: url('./assets/fonts/netflix-san/NetflixSans-Thin.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/netflix-san/NetflixSans-Thin.woff2') format('woff2'),
      url('./assets/fonts/netflix-san/NetflixSans-Thin.woff') format('woff'),
      url('./assets/fonts/netflix-san/NetflixSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('./assets/fonts/netflix-san/NetflixSans-Regular.eot');
  src: url('./assets/fonts/netflix-san/NetflixSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/netflix-san/NetflixSans-Regular.woff2') format('woff2'),
      url('./assets/fonts/netflix-san/NetflixSans-Regular.woff') format('woff'),
      url('./assets/fonts/netflix-san/NetflixSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* CSS Resets */
*,
*::before,
*::after {
    box-sizing: border-box; margin: 0; padding: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  
  @-ms-viewport {
    width: device-width;
  }
  
  article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }

  select:focus-visible {
    outline: none;
    border: none;
}

/* Variables */
:root {
    /* Netflix Default Palette */
    --white: #fff;
    --clearwhite: rgba(255, 255, 255, 0.3);
    --smokeWhite: #E5E5E5;
    --midgray: rgb(109, 109, 110, 0.3);
    --gray: #808080;
    --black: #141414;
    --red: #B9090B;
    /* Bonus Colors */
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    /* Event Colors */
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    /* Device Breakpoints */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

/* GENERAL */

html,
body {
    background: var(--black);
    font-family: 'Netflix Sans';
}

h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 400;
  line-height: 81.73px;
}

h3 {
  font-size: 26px;
  font-weight: 500;
  line-height: 33.2px;
  color: var(--smokeWhite);
}

h4 {
  font-size: 26px;
  font-weight: 400;
  line-height: 33.2px;
}

.logo {
  padding: 20px 60px;
}

.index-container{
  width: 70%;
  margin: 10% auto;
  text-align: center;
}

.profile-container {
  margin-top: 2% ;
  display: flex;
  padding: 30px 0 30px 0 ;
  justify-content: space-around;
}

.profile a img {
  max-height: 200px;
  max-width: 200px;
}

.profile h4 {
  text-align: center;
  padding-top: 20px ;
  color: var(--gray);
  font-size: 26px;
  opacity: .65;
}

.btn-profili{
  display: flex;
  justify-content: center;
}

.btn-gestisci-profili {
  padding: 10px 30px;
  font-size: 26px;
  background: transparent;
  border: 1px solid var(--gray);
  color: var(--gray); 
}

@media screen and (max-width:1280px){

  h1{
    font-size: 52px;
  }

  .profile{
    justify-content: center;
    gap:20px;
  }

  .profile a img {
    height: 150px;
    width: 150px;
  }
  
}

@media screen and (max-width: 992px){

  h1{
    font-size: 52px;
  }
  .profile{
    justify-content: center;
    gap:20px;
  }
  .profile a img {
    height: 150px;
    width: 150px;
  }

}

@media screen and (max-width:768px) {
  .logo{
    text-align: center;
  }
  h1{
    display: none;
  }
  .profile-container{
    flex-wrap: wrap;
  }
  .profile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .profile h4 {
    padding: 20px;
  }
}

@media  screen and (max-width: 576px) {

  .logo{
    text-align: center;
  }
  h1{
    display: none;
  }
  .profile-container{
    flex-wrap: wrap;
  }
  .profile{
    flex-basis: 25%;
  }
}
@media screen and (max-width:576px) {
  
}
/* End index page  */


ul{list-style-type: none;}

/* Utilities */

.d-flex{display: flex;}

/* navbar */

.navdesktop{
  width: 100%;
  padding: 25px 60px 25px 60px;
  align-items: center;
  background: transparent;
}

.logo{
  margin-right: 32px;
}

.navdesktop div:nth-child(2){
  flex-grow: 1;
}

.navdesktop div:last-child img{
  height: 20px;
  width: 20px;
}

ul li a,.dropdown a{
  text-decoration: none;
  color: var(--white);
}

.ul-1,.ul-2{
  gap: 20px;
}

/* dropdown users */

.ul-2{
  position: relative;
}

.dropdown
{
  background: var(--black);
  position: absolute; 
  left: 0;
  top: 50px;
  visibility: hidden;
  width: 170px;
  padding: 16px 0;
}

.licontainer:hover .dropdown{
  visibility: visible;
}

.navdesktop .licontainer li{
  padding: 8px 16px;
}

.navdesktop .licontainer li img{
  margin-right: 8px;
}

.navdesktop .licontainer .dropdown li{
  display: flex;
  width:100%;
  font-size: 14px;
  align-items: center;
}

.dropdown p{
  color: var(--white);
  text-align: center;
  font-size: 14px;
  padding-top: 16px;
}



/* Movie Cards Sections */

.movie-section {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
}

.poster-container {
  display: flex;
  gap: 5px;
}

.movie-poster {
  padding-top: 10px;
  padding-bottom: 10px;
}

.movie-poster img {
  height: 160px;
  width: 285px;
  border-radius: 2px;
}

/* End of Movie Cards Sections */