/* CSS Resets */
*,
*::before,
*::after {
    box-sizing: border-box; margin: 0; padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
  }
  
  @-ms-viewport {
    width: device-width;
  }
  
  article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }

  select:focus-visible {
    outline: none;
    border: none;
}

/* Variables */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

/* GENERAL */

body {
    background: var(--dark)
}

/* index Page */

h1 {
  text-align: center;
  color: #fff;
  font-size: 64px;
}

.logo {
  padding: 20px 60px;
}

.index-container{
  width: 70%;
  margin: 10% auto;
}

.profile-container {
  margin-top: 2% ;
  display: flex;
  padding: 30px 0 30px 0 ;
  justify-content: space-around;
}

.profile h4 {
  text-align: center;
  padding-top: 20px ;
  color: var(--gray);
  font-size: 26px;
  opacity: .65;
}

.btn-profili{
  display: flex;
  justify-content: center;
}

.btn-gestisci-profili {
  padding: 10px 30px;
  font-size: 26px;
  background: transparent;
  border: 1px solid var(--gray);
  color: var(--gray); 
}