/* Fonts */
@font-face {
  font-family: 'Netflix Sans';
  src: url('NetflixSans-Medium.eot');
  src: url('NetflixSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('NetflixSans-Medium.woff2') format('woff2'),
      url('NetflixSans-Medium.woff') format('woff'),
      url('NetflixSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans Icon';
  src: url('NetflixSans-Icon.eot');
  src: url('NetflixSans-Icon.eot?#iefix') format('embedded-opentype'),
      url('NetflixSans-Icon.woff2') format('woff2'),
      url('NetflixSans-Icon.woff') format('woff'),
      url('NetflixSans-Icon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('NetflixSans-Light.eot');
  src: url('NetflixSans-Light.eot?#iefix') format('embedded-opentype'),
      url('NetflixSans-Light.woff2') format('woff2'),
      url('NetflixSans-Light.woff') format('woff'),
      url('NetflixSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('NetflixSans-Black.eot');
  src: url('NetflixSans-Black.eot?#iefix') format('embedded-opentype'),
      url('NetflixSans-Black.woff2') format('woff2'),
      url('NetflixSans-Black.woff') format('woff'),
      url('NetflixSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('NetflixSans-Bold.eot');
  src: url('NetflixSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('NetflixSans-Bold.woff2') format('woff2'),
      url('NetflixSans-Bold.woff') format('woff'),
      url('NetflixSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('NetflixSans-Thin.eot');
  src: url('NetflixSans-Thin.eot?#iefix') format('embedded-opentype'),
      url('NetflixSans-Thin.woff2') format('woff2'),
      url('NetflixSans-Thin.woff') format('woff'),
      url('NetflixSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('NetflixSans-Regular.eot');
  src: url('NetflixSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('NetflixSans-Regular.woff2') format('woff2'),
      url('NetflixSans-Regular.woff') format('woff'),
      url('NetflixSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* CSS Resets */
*,
*::before,
*::after {
    box-sizing: border-box; margin: 0; padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
  }
  
  @-ms-viewport {
    width: device-width;
  }
  
  article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }

  select:focus-visible {
    outline: none;
    border: none;
}

/* Variables */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #B9090B;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --opacity-white: rgba(255, 255, 255, 0.3);
    --smokewhite: #E5E5E5;
    --midgray: rgb(109, 109, 110, 0.3);
    --gray: #808080;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --black: #141414;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

/* GENERAL */

body {
    background: var(--black);
}
